.social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    &__icons {
      fill: currentColor;
      width: 20px;
      height: 20px;
    }
    
  }
  
  .social__links {
    display: flex;
    color: #afb1b8;
    border-radius: 50%;
    background-color: #fff;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        color: #fff;
        background-color: var(--active-color);
        cursor: pointer;
        outline: none;
    }
    &:focus{
        color: #fff;
        background-color: var(--active-color);
        cursor: pointer;
        outline: none;
    }
    &--footer {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
      }
  }
  