.page-header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
}

.page-header__logo {
  display: flex;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--main-color);
  text-decoration: none;
  @media (min-width: 768px){
    margin-right: 86px;
  }
  @media (min-width: 1200px) {
    margin-right: 94px;
    line-height: 1.19;
    font-size: 26px;
    }
}
.logo span {
  color: var(--active-color);
}
.menu {
  display: flex;
  align-items: center;
  position: relative;
  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu__links {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--active-color);

  }

  &--current::after {
    content: '';
    display: block;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    background-color: var(--active-color);
    position: absolute;
    height: 4px;
    width: 100%;
  }
}


.contacts {
  @media (min-width: 1200px) {
  display: flex;
    }


  &__links {
    display: flex;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    font-style: normal;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    margin: 16px 0;
  }

  &__icons {
    fill: currentColor;
    margin-right: 10px;
  }

  &--footer {
    padding: 0;
  }

  &__links:hover,
  &__links:focus {
    color: var(--active-color);
  }
}

.contacts__item:not(:last-child) {
  @media (min-width: 1200px){
  margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  .contacts__links{
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
  }
}

}