.menu-desk {
    display: flex;
    align-items: center;
    gap:18%;
   @media (min-width: 1200px){
       gap:295px;
   }
}

@media (max-width: 767px) {
    .menu-desk {
        display: none;
    }
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: var(--active-color);
    background-color: transparent;
}

.menu-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    overflow-y: scroll;
}
@media  (min-width: 768px){
    .menu-container {
        display:none;
    }
}




.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--main-color);
    margin: unset;
    &:hover {
        color: var(--active-color);
        background-color: transparent;
    }
}

.mobile-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;
}

.mob-menu {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__links {
        text-decoration: none;
        font-style: normal;
        color: var(--main-color);
    }

    &__links:hover,
    &__links:focus {
        color: var(--active-color);
    }
}

.mob-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    &__item:not(:last-child) {
        margin-bottom: 32px;
        font-size: 34px;
        line-height: 40px;
    }

    &__links {
        text-decoration: none;
        font-style: normal;
        color: var(--second-color);
    }

    &__links:hover,
    &__links:focus {
        color: var(--active-color);
    }
}

.mob-social {
    display: flex;
    margin-top: 15%;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    &__item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }
}

.mob-social__links {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: var(--active-color);
}

.icon-menu{
width: 24px;
height: 16px;
fill: currentColor;
}

.icon-cross{
    width: 19px;
    height: 19px;
    fill: currentColor;
}