@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");


:root{
    --main-color:#2f303a;
    --second-color: #757575;
    --acenct-color: #ffffff;
    --active-color: #2196f3;
}
