h1 {
  font-size: 44px;
  text-align: center;
  margin: 0 auto;
}

  .hero{
    text-align: center;
    text-transform: uppercase;
    max-width: 1600px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    background-size:cover;
    background-position: center;
    @media (max-width: 480px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), 
    url(../images/hero-m.jpg);
    @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
   url(../images/hero-m-2x.jpg);
      }
    }
    @media (min-width: 481px) and (max-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url(../images/here-t.png);
  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
   url(../images/hero-t-2x.jpg);
      }
    }
    @media (min-width: 769px)  {
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero-d.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), 
     url(../images/hero-2x.jpg);
        }
  }
}
  
  .hero-heading {
    color: #ffffff;
    line-height: 1.3;
    letter-spacing: 0.06em;
    font-weight: 900;
    @media (max-width: 479px) {
      width: 100%;
      font-size: 26px;
      line-height: 42px;
    }
    @media (min-width: 480px) and (max-width: 768px) {
      width: 360px;
      font-size: 26px;
      line-height: 42px;
    }
    @media (min-width: 769px) {
      width: 696px;
      font-size: 44px;
      line-height: 60px;
    }
  }
  .hero__button{
    background-color: var(--active-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: 0;
    font-family: inherit;
    margin-top: 30px;
    padding: 10px 32px;
    border-radius: 4px;
    &:hover,
    &:focus {
    cursor: pointer;
  }
  }
  
