.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: #fff;
  min-width: 450px;
  min-height: 609px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;

}
}
.modal-button {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  margin-top: 8px;
  margin-left: auto;
  margin-bottom: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button__icons:hover,
.modal-button__icons:focus {
  cursor: pointer;
  color: #2196F3;
}

.modal-form {
  padding: 2px 40px;
  padding-bottom: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__heading {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
  margin-bottom: 12px;
}

.modal-form__label {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
  text-transform: none;
}

.modal-form__input {
  display: flex;
  align-items: center;
  padding: 12px 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  text-transform: none;
  color: #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover,
.modal-form__input:focus,
.modal-form__input:active {
  border: 1px solid #2196F3;
  outline: 0;
}


.modal-form__icons {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: #212121;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:hover,
  .modal-form__input:focus+& {
    fill: #2196F3;
  }

}

textarea {
  resize: none;
  width: 100%;
  padding: 12px 16px;

  &:hover,
  &:focus {
    border: 1px solid #2196F3;
    outline: 0;
  }
}


.modal-form__comment {
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  text-transform: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}



.terms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-terms {
  margin-left: 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-skip: none;
  color: #2196F3;
  text-transform: none;

  &:hover {
    cursor: pointer;
  }

}

.checkbox-label {
  display: flex;
  align-items: center;
  text-transform: none;

}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label p {
  text-transform: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox:checked+& {
    background-color: #2196f3;
    background-image: url('../images/tick.svg');
    border-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
  }

}


.modal-button__submit {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #188CE8;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  padding: 10px 52px;
  margin: 30px auto;
  margin-bottom: 0;
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}




.modal-button__icons {
  width: 18px;
  height: 18px;
  fill: currentColor;
}