.workers {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;

  }
}
.workers__container{
  @media screen and (max-width: 768px) {
  padding-left: 0;
  padding-right: 0;
}
}

.workers-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 28px;
    line-height: 33px;
  }
}

.grid {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (max-width: 768px) {
    margin-top: 30px;
}
}

.grid-card {
  width: 100%;
  border-color: #f5f4fa;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px)/2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px)/4);
  }
}
.worker__inmage{
  width: 100%;
}
.private {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 0px 0px 4px 4px;

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__job {
    color: #757575;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 10px;
  }
}